<a href="https://colab.research.google.com/github/emilychiu7/micro_cred_da_winter_2022/blob/main/python/Unit%202/Unit_2_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#The len() function returns the length of a string:
 
a = "Hello, World!"
print(len(a))
print(len(a))

13
13

In [ ]:
#Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)
print("hhhhe" in txt)
print('12' in txt)

True
False
False

In [ ]:
age = 36
txt = "My name is me, and I am {} years old"                    #{} where age goes
print(txt.format(age))                                          #the format() method formats the specified value(s) and insert them inside the string's placeholder.
print("My name is me,and I am"+' ' + str(age)+"years old")

name = 'emily'
test = "My name is {}"
print('my name is '+str(name))

My name is me, and I am 36 years old
My name is me,and I am 36years old
my name is emily

In [ ]:
#Demonstrate one String Concatenation example.
#String Concantenation: combining strings together.
str_a = 'String'
str_b = 'Example'
x='.'
str_c = str_a + ' Concatenation ' + str_b+ str(x)
print(str_c)

String Concatenation Example.

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]       #Make a list.
print(thislist)                                                   #Print the list.

most_used_apps = ['spotify','youtube','facebook','slack']
print(most_used_apps)
most_used_apps.insert(2,'discord')                                #list.insert(index, object)
print(most_used_apps)                                             #print list.
a = 'maps'
most_used_apps.extend([a])                                        #.extend([]) appends each element of the iterable (tuple, string, or list) to the end of the list
print(most_used_apps)
most_used_apps.append([a])                                        #.append() adds an element at the end of the list.
print(most_used_apps)

['apple', 'banana', 'cherry', 'apple', 'cherry']
['spotify', 'youtube', 'facebook', 'slack']
['spotify', 'youtube', 'discord', 'facebook', 'slack']
['spotify', 'youtube', 'discord', 'facebook', 'slack', 'maps']
['spotify', 'youtube', 'discord', 'facebook', 'slack', 'maps', ['maps']]

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(type(list3))                            #print(type(object name))

<class 'list'>

In [ ]:
thislist = ["apple", 66, "orange",]       #str, int, str

print(thislist)

['apple', 66, 'orange']

In [ ]:
#nested list only for CS track
#To add new values to the end of the nested list, use append() method.
L = ['a', ['bb', 'cc'],['f','g'], 'd']

Lw = ['a''bb','5' 'cc']
print(L)
print(Lw)
# Prints ['a', ['bb', 'cc', 'xx'], 'd']

['a', ['bb', 'cc'], ['f', 'g'], 'd']
['abb', '5cc']

In [ ]:
# insert an item at a specific position in a nested list, use insert() method.
L = ['a', ['bb', 'cc'], 'd']
L[1].insert(2,'xx')
print(L)

['a', ['bb', 'cc', 'xx'], 'd']

In [ ]:
#change the value of a specific item in a nested list by referring to its index number.
L = ['a', ['bb', 'cc'], 'd']
L[1][1] = 'k'
print(L)

['a', ['bb', 'k'], 'd']

In [ ]:
#You can merge one list into another by using extend() method.
L = ['a', ['bb', 'cc'], 'd']
L[1].extend(['g',2,3])
print(L)

['a', ['bb', 'cc', 'g', 2, 3], 'd']

In [ ]:
testt = ["apple", "banana", "cherry"]
if "apple" in testt:
  print("Yes, 'apple' is in the fruits list")


boroughs = ['brooklyn','manhattan','queens','bronx','staten island']
if 'long island' in boroughs:
  print("Yes, this is a NYC borough")
else:
  print("No, this is not a NYC borough")

Yes, 'apple' is in the fruits list
No, this is not a NYC borough

In [ ]:
thislist = ["apple", "banana", "cherry"]

#Change element 1 to "blackcurrant"
thislist[1] = "blackcurrant"
print(thislist)

boroughs = ['queens','bronx','brooklyn']
boroughs[2] = 'manhattan'
print(boroughs)

['apple', 'blackcurrant', 'cherry']
['queens', 'bronx', 'manhattan']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]

#'banana' is interchanged with 'watermelon'; lists until element 2
print(thislist)

['apple', 'watermelon']

In [ ]:
fruits=[55,'banana','cherry']           #.append = print "orange" at end of list
fruits.append("orange")
print(fruits)
fruits.extend("orange")                 #.extend = print each letter in "orange" at the end of the list
print(fruits)
fruits.extend(['orange'])               #unless put in brackets as a new elements in the list []
print(fruits)
fruits.extend(['apple','lemon'])
print(fruits)

[55, 'banana', 'cherry', 'orange']
[55, 'banana', 'cherry', 'orange', 'o', 'r', 'a', 'n', 'g', 'e']
[55, 'banana', 'cherry', 'orange', 'o', 'r', 'a', 'n', 'g', 'e', 'orange']
[55, 'banana', 'cherry', 'orange', 'o', 'r', 'a', 'n', 'g', 'e', 'orange', 'apple', 'lemon']

In [ ]:
#Add a list to a list:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]

#see 'a' list then the last element of the list is list 'b'
a.append(b)
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [ ]:
#Loop Through the Index Numbers
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])
print('nnn')

apple
banana
cherry
nnn

In [ ]:
#Insert an item as the second position:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)


search_engines = ['google','yahoo']
search_engines.insert(2,'bing')
print(search_engines)

['apple', 'orange', 'banana', 'cherry']
['google', 'yahoo', 'bing']

In [ ]:
#extend elements from another list to the current list,
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

#.append does not combine the list
thislist.append(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya', ['mango', 'pineapple', 'papaya']]

In [ ]:
fruit1 = ["pineapple", "kwi", "cherry","Lemon","babana"]
print(fruit1)
fruit2 = ("melon", "orange")
fruit1.extend(fruit2)
print(fruit1)
print(len(fruit1))
fruit1.remove("orange")
print(fruit1)
print(len(fruit1))
fruit1.sort()
print("sorted List",fruit1)

['pineapple', 'kwi', 'cherry', 'Lemon', 'babana']
['pineapple', 'kwi', 'cherry', 'Lemon', 'babana', 'melon', 'orange']
7
['pineapple', 'kwi', 'cherry', 'Lemon', 'babana', 'melon']
6
sorted List ['Lemon', 'babana', 'cherry', 'kwi', 'melon', 'pineapple']

In [ ]:
a = ["car", ["bmw", "kia", "ford"], "Truck", ["pick up", "monster truck", ["ford", "gmc"]], "motorcycle", ["Honda"]]    #List within a list = nested list
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[1][1])

#to get ford which is in 3rd list (second list) and 0 element
a[3][2][0]

car
['bmw', 'kia', 'ford']
Truck
['pick up', 'monster truck', ['ford', 'gmc']]
kia

'ford'

In [ ]:
fruit1 = ["pineapple", "kwi", "cherry","lemon","banana"]
print(fruit1)                   #List all elements
fruit2 = ["melon", "orange"]    #add new fruits
fruit1.extend(fruit2)
print(fruit1)
print(len(fruit1))              #number of fruits
fruit1.remove("orange")         #remove 'orange'
print(fruit1)
print(len(fruit1))
fruit1.sort()
print(fruit1)

['pineapple', 'kwi', 'cherry', 'lemon', 'banana']
['pineapple', 'kwi', 'cherry', 'lemon', 'banana', 'melon', 'orange']
7
['pineapple', 'kwi', 'cherry', 'lemon', 'banana', 'melon']
6
['banana', 'cherry', 'kwi', 'lemon', 'melon', 'pineapple']

In [ ]:
#Sort the list alphabetically:

cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
print(cars)

search_engines = ['Google','Yahoo','Bing']
search_engines.sort()
print(search_engines)

['BMW', 'Ford', 'Volvo']
['Bing', 'Google', 'Yahoo']

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]

#Show all the elements in the list up until index 3, but not including index 3
list1[:3]
print(list1[:3])

list2 = ['nintendo','electronic arts','epic games','square enix']
list2[:2]
a = " is one of the top game development companies!"
for b in list2[:2]:
  print(b+a)

['physics', 'chemistry', 1997]
nintendo is one of the top game development companies!
electronic arts is one of the top game development companies!

In [ ]:
for number in range(1, 10):       
    if(number % 2 != 0):           
        print(number)  

#if (1%2) !0 <--if 1 mod 2 is =/= 0 then print; remainder is 1 =/=0 so false, so it will print

1
3
5
7
9

Lecture 5

In [ ]:
bike='honda'      # = assignment operator; we assigned bike to be equal to honda. without this, line 2 is false
bike=='honda'     # == equality operator

True

In [ ]:
patientexam='ecg'
if(patientexam !='ecg'):
 print('incorrect exam')
else:
  print('correct exam')

correct exam

In [ ]:
a = 33
b = 33

#elif = else if; used to check multiple expressions
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
#readmit days after discharge from hospital = 29 you will get error why?
#we cannot have spaces in variables
readmit_days_after_discharge_from_hospital = 29
if readmit_days_after_discharge_from_hospital < 30:
  print ('patient readmited whithin 30 days')
else:
  print ('patient readmited after 30 days')

patient readmited whithin 30 days

In [ ]:
#multiple conditions and
a = 200
b = 33
c = 100
if a > b or c > a:
  print("one conditions are True")

one conditions are True

In [ ]:
#multiple conditions or
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
# Nested If 
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
else:
    print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
#Check If List Item Exists
#To determine if a specified item is present in a list use the in keyword:
#Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [ ]:
patient_exam_record=['echo','ct','scan']
'cvt' in patient_exam_record
'ct' in patient_exam_record

True

In [ ]:
patient_exam_record_alergieas=['latex','penecilin','asperin']
new_alergie='asma'
if new_alergie in patient_exam_record_alergieas:
  print('alergie in patient_exam_record')
else:
  print('patient doesnt have '+ new_alergie)
  print(new_alergie +' is not in patient alergie list ')

patient doesnt have asma
asma is not in patient alergie list

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
#new list with no additional elements
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

#print elements that have an "a" in it
print(newlist)

['orange', 'apple', 'banana', 'mango']

# **Lect 6 Dictionaries**

Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is unordered and changeable. No duplicate members.
When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

In [ ]:
#Dictionary
#Dictionaries are used to store data values in key:value pairs.
#A dictionary is a collection which is unordered, changeable and does not allow duplicates.
#Dictionaries are written with curly brackets, and have keys and values:
#Create and print a dictionary:

patient_1 =	{
  "first_name": "john",
  "Last_name": "baker"
}
print(patient_1['first_name'])
print(patient_1['Last_name'])
print(patient_1['first_name'],patient_1['Last_name']+' how are you')
print(" ")
patient_2 = {
    "first_name": "Emma",
    'last_name':'Stone'
}
print('Welcome '+patient_2['first_name'],patient_2['last_name'])

john
baker
john baker how are you

Welcome Emma Stone

In [ ]:
patient_1 =	{
  "first_name": "john",
  "last_name": "baker",
  'mrn':'098987'
}
patient_name=patient_1['first_name']
print("hello there, "+ patient_name)
print(patient_1)
patient_1['mcrn']='999222'
patient_1['new key']='bbds'
patient_1

hello there, john
{'first_name': 'john', 'last_name': 'baker', 'mrn': '098987'}

{'first_name': 'john',
 'last_name': 'baker',
 'mcrn': '999222',
 'mrn': '098987',
 'new key': 'bbds'}

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964}
print(thisdict)
thisdict ['owner']='mark'
print(thisdict)

#to modify the value
thisdict ['brand'] ='mercedes benz'
print(thisdict)

#to remove the value
del thisdict ['brand']
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'owner': 'mark'}
{'brand': 'mercedes benz', 'model': 'Mustang', 'year': 1964, 'owner': 'mark'}
{'model': 'Mustang', 'year': 1964, 'owner': 'mark'}

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
for key,value in thisdict.items():
  print(key,value)
  
# to print keys only
  print(key)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
brand Ford
brand
model Mustang
model
year 1964
year

In [ ]:
#Loop Through a Dictionary
#You can loop through a dictionary by using a for loop.

thisdict =	{
  "name": "Ford",
  "Last_Name": "baker",
  "mrn": "023432",
  "db": "1981/04/09"
}
for key,value in thisdict.items():
  print("\nkey:" + key)
  print("\nvalue:" + value)

key:name

value:Ford

key:Last_Name

value:baker

key:mrn

value:023432

key:db

value:1981/04/09

In [ ]:
friend_ages =	{
  "nick": "30",
  "john": "25",
  "sali": "43",
  "dan": "33"}
fav_friend= ["nick","hop"] 
for name in friend_ages.keys():
  print(name.title())

  if name in fav_friend:
 
     print('Hi '+name.title() +", I see you are " + friend_ages[name])

Nick
Hi Nick, I see you are 30
John
Sali
Dan

'While' loop
* Python has two primitive loop commands: 'while' loops, 'for' loops
* With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
#while i is less than 6, print i+1, otherwise, print that i is no longer less than 6
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

User Input
Python allows for user input.
That means we are able to ask the user for input.
The method is a bit different in Python 3.6 than Python 2.7.
Python 3.6 uses the input() method.

In [ ]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:John
Username is: John

In [ ]:
prompt="input a message. i will repeat it until you type 'quit'"
message=""

while message !='quit':                     #prompt is said if not equal to 'quit'
  message = input(prompt)
  print(message)

input a message. i will repeat it until you type 'quit'dsdfd
dsdfd
input a message. i will repeat it until you type 'quit'gfgtr
gfgtr
input a message. i will repeat it until you type 'quit'quit
quit

In [ ]:
login_message = "Password incorrect. Please type the correct password"
password = 'dsjkdfhhkc'                 #doesn't matter what the string is
while password !='ilovepython':
  password=input(login_message)
  print(password)

Password incorrect. Please type the correct passwordfsakjgraklf
fsakjgraklf
Password incorrect. Please type the correct passwordjagsfks
jagsfks
Password incorrect. Please type the correct passwordilovepython
ilovepython

Creating a Function
In Python a function is defined using the def keyword:

In [ ]:
#Example creating a function is the first step
#Function isn't called so nothing is printed
def my_function():
  print("Hello from a function")

In [ ]:
#Calling a Function
#To call a function, use the function name followed by parenthesis:

#Example
def my_function():
  print("Hello from a function")

#Do not indent
#Called but not defined because nothing is in parenthesis
my_function()

Hello from a function

In [ ]:
#Example
def my_function(age):
  print("Hello from a function "+str(age)+" years old")

age = 33
my_function(age)

Hello from a function 33 years old

In [ ]:
def my_function(age):
  """This function add up name"""
  text = "My name is john, and I am {} years old"
  print(text.format(age))


age = 36
my_function(age)

My name is john, and I am 36 years old

In [ ]:
def my_function(age):
  """This function add up namea"""
  text = "My name is john, and I am {} years old"
  print(text.format(age))
  print("My name is john, and I am" + str(age) +"years old")
age=33
my_function(age)

In [ ]:
#Information can be passed into functions as arguments.
def my_function(fname):
#Things in parentheses are 'arguments'.
  "This function add up name"
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
#If the number of keyword arguments is unknown, add a double ** before the parameter name:

def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [ ]:
#Lec 7 mini project odd,even
#First way using .format()

#num is an integer, and input "Enter a number:"
num = int(input("Enter a number: "))
#if-else statement
#.format value of num which is an integer to be mixed as a string
#num will be a string value now
if (num % 2) == 0:
   print(num,"is Even".format(num))
else:
   print(num ,"is Odd".format(num))

Enter a number: 7
7 is Odd

In [ ]:
#Lec 7 mini project odd,even
#Second way using str()

#num is an integer, and input "Enter a number:"
num = int(input("Enter a number: "))
#if-else statement
if (num % 2) == 0:
   print(str(num),"is Even")
else:
   print(str(num) ,"is Odd")

Enter a number: 3
3 is Odd

In [ ]:
def my_func(x):
  return 5*x 
  #return function used to send the function's result back to the caller.
print(my_func(3))
print(my_func(5))

15
25

In [ ]:
#myfunc() can be any name, but can't be empty

def my_func(food):
  for x in food:
    print(x)

fruits = ['apple','bananas','cherry']
my_func(fruits)

apple
bananas
cherry

In [ ]:
#my_func() cannot be empty. We will get an error.
#Error states that it takes 0 positional arguments but 1 was given.
def my_func():
  for x in food:
    print(x)

fruits = ['apple','bananas','cherry']
my_func(fruits)

TypeError: ignored

In [ ]:
def my_func(food):
  for x in food:
    print(x)

fruits = ['apple','bananas','cherry']
my_func(fruits)

apple
bananas
cherry

In [ ]:
#tell if a number dividable by 4
def multiple(m, n):
	return True if m % n == 0 else False
m = int(input("Enter a number: "))
print(multiple(m, 4))

Enter a number: 8
True

In [ ]:
#country has a default value set
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def my_function(state , country = "United States"):
  print("This state , " + state + " , is in the " + country)

my_function("New York")
my_function("New Jersey")
my_function("Florida")

In [ ]:
 while True:
   #Enter [input(" ")] an integer [int()]
        entry=int(input('Enter a number or 0 to quit:'))
        if entry % 2 == 0:
            print (format (entry), 'is an even number.')
        else:
            print (format (entry),'is an odd number.')

        if entry == 0:
            print ('All done!')
            break

Enter a number or 0 to quit:0
0 is an even number.
All done!

In [ ]:
#Mini project bonus

#Part 1
#Create a function to input a number
def main():
    number = get_number() 
#two if statements for even
    if(number  % 2 == 0):
        print("Even number")
        if(number % 4 == 0):
           print("Even number and multiple of 4")

#else statement for odd
    else:
        print("Odd number")
#Print 2 numbers
    number2,number3= get_number() , get_number()

#Part two
    if (number2 % number3 == 0):
#{} formats output, integer in string
        print("{} evenly divides {}".format(number2,number3))
    else:
        print("{} not evenly divides by {}".format(number2,number3))
def get_number():
       return int(input("Enter a number "))
main()

Enter a number 5
Odd number
Enter a number 2
Enter a number 1
2 evenly divides 1